* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background-color: #141316;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Slab', serif;
}

p {
    font-family: 'Roboto Slab', serif;
}

h1,h2 {
    font-family: 'Montserrat', sans-serif;
}

/* NAV BAR */

.nav_bar {
    display: flex;
    flex-direction: row;
    border-bottom: #d2d2d220 1px solid;
    min-height: 80px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.wrapper {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    color: #3472fd;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    font-size: 1.3em;
}

.logo > span {
    color: #fff;
}

.toggle-button {
    position: absolute;
    top: 1.8rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.menu_container {
    margin-left: 20px;
}


.menu_container > ul > li {
    float: left;
    display: inline;
    padding: 0 16px;

}

.menu_container > ul > li > a {
    color: #e2e2e280;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    text-decoration: none;
    transition: 0.6s ease-in-out;
}

.menu_container > ul > li > a:hover {
    color: #f1f1f1;
}

.register_container {
    position: relative;
    margin-left: auto;
    right: 0;
}

.register_container > button {
    padding: 12px 20px;
    color: #fff;
    border: none;
    border-radius: 20px;
    background-color: #ff8906;
    font-family: 'Roboto Slab', serif;
    transition: 0.6s ease-in-out;
}

.register_container > button:nth-child(1) {
    background-color: transparent;
    margin-right: 20px;
    border: 1px solid #e2e2e280;
    
}
.register_container > button:nth-child(1):hover {
    background-color: #f1f1f1;
    color: #212121;

}

.register_container > button:nth-child(2):hover {
    background-color: #f1f1f1;
    color: #212121;
   
    border: none;
}


.header_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 50px;

}

.header_container > .wrapper > .description {
    width: 50%;
}

.header_container > .wrapper > .description > span {
    color: #e2e2e280;
    font-size: 1.5rem;
    margin-bottom: 12px;

}



.header_container > .wrapper > .description > h1 {
    color: #f1f1f1;
    font-size: 5rem;

}

.header_container > .wrapper > .description > button {
    margin-top: 26px;
    margin-bottom: 30px;
    padding: 12px 18px;
    font-size: 1.1rem;
    border-radius: 80px;
    border: 1px solid #e2e2e280;
    background-color: transparent;
    color: #f1f1f1;
}

/* NFT CARD STYLE */

.header_container > .wrapper > .gallery_header {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.header_container > .wrapper > .gallery_header > .nft_card {
background: rgba(255, 255, 255, 0.16);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
padding: 18px 16px;
width: 350px;
}

.header_container > .wrapper > .gallery_header > .nft_card > img {
    width: 100%;
    border-radius: 8px;
    
}

.header_container > .wrapper > .gallery_header > .nft_card > h1 {
    width: 350px;
    color: #f1f1f1;
    font-size: 1.3rem;
    margin: 8px 0 0 0;
    font-weight: bolder;
}

.header_container h2 {
    color: #f1f1f1;
    font-size: 1.2rem;
    margin-top: 8px;
    font-weight:normal;
}

.header_container .bid {
    color: #3472fd;
    font-weight: bold;
}

.header_container > .wrapper > .gallery_header > .nft_card > .nft_details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin: 12px 0px 0 0;
}


.showcase_section {
 
    margin-top: 50px;
   
}

.cards_container {
    display: flex;
    flex-direction: row;
justify-content: space-around;
 
    margin: 50px 0;
    padding: 15px;
    gap: 15px;

}
.showcase_section > h1 {
    color: #f1f1f1;
    font-size: 3rem;
    text-align: center;
}
.card {
    padding: 2.3rem;
 

}

#sedans_card {
    background-color: hsl(31, 77%, 52%);
    border-radius: 8px;
 
}

#suvs_card {
    background-color: hsl(184, 100%, 22%);
    border-radius: 8px;
}

#luxury_card {
    background-color: hsl(179, 100%, 13%);
    border-radius: 8px;
}

.card img {

   margin: 0 auto;
}

.card h1 {
    font-family: 'Montserrat', sans-serif;
    color: hsl(0, 0%, 95%);
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.card p {

    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Montserrat', sans-serif;

    font-size: 20px;
    margin-bottom: 1rem;

}

.card button {
    font-family: 'Montserrat', sans-serif;
    border: none;
    font-size: 1rem;
    background-color: hsl(0, 0%, 95%);
    border-radius: 20px;
    padding: 0.7rem;
 
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid transparent;
}


#sedans_button {
    color: hsl(31, 77%, 52%);
}

#sedans_button:hover{
    color: white;
    background-color: transparent;
    border: 1px solid white;
}

#suvs_button {
    color: hsl(184, 100%, 22%);
}

#suvs_button:hover{
    color: white;
    background-color: transparent;
    border: 1px solid white;
}

#luxury_button {
    color: hsl(179, 100%, 13%);
}

#luxury_button:hover{
    color: white;
    background-color: transparent;
    border: 1px solid white;
}
.copyright {
    padding: 19px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.16);
    color: #f1f1f1;

}


@media (max-width: 992px) {
    .cards_container {
        
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        gap: 30px;
        width: 370px;
    }
    

    .card p {
        font-size: 1rem;
    }

    .card button {
        font-size: 1.3rem;
    }
    .copyright {
        padding: 19px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.16);
        color: #f1f1f1;
    
    }


  ul {
    list-style: none;
    padding-left: 0;
    line-height: 2;
    
  }
  footer {
    background-color: #0f0e17;
    color: #0f0e17;
    line-height: 1.5;
  }
  footer a {
    text-decoration: none;
    color: #eee;
  }
  a:hover {
    text-decoration: underline;
  }
  .ft-title {
    color: #fff;
   
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
  }
  .container {
    flex: 1;
  }

  .ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 1400px) {

    .wrapper {
        flex-direction: column;
        align-items: center;
        }
    .register_container {
        position: relative;
        right: 0;
        padding: 10px;
        margin: 0;
    }

    .header_container > .wrapper > .gallery_header {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .showcase_section {
        display: block;
        align-items: center;
        text-align: center;
    }
    .showcase_section > .gallery {
        display: flex;
        flex-direction: column;
    }

    .showcase_section > .gallery > .gallery_card  > img {
        width: 400px;
        height: 400px;
        border-radius: 20px;
    }
    .showcase_section > .gallery > .gallery_card {
    color: #f1f1f1;

    }
    
    .showcase_section > .gallery > .gallery_card  > img {
        display: flex;
        width: 300px;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
        text-align: center;
    }
    

  }

  ul {
    list-style: none;
    padding-left: 0;
  }
  footer {
    background-color: #0f0e17;
    color: #bbb;
    line-height: 1.5;
  }
  footer a {
    text-decoration: none;
    color: #eee;
  }
  a:hover {
    text-decoration: underline;
  }
  .ft-title {
    color: #fff;
    font-family: "Merriweather", serif;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
  }
  /* Sticks footer to bottom */
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  .container {
    flex: 1;
  }
  /* Footer main */
  .ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
  }
  @media only screen and (min-width: 29.8125rem /* 477px */) {
    .ft-main {
      justify-content: space-evenly;
    }
  }
  @media only screen and (min-width: 77.5rem /* 1240px */) {
    .ft-main {
      justify-content: space-evenly;
    }
  }
  .ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem;
  }

  
  @media (max-width: 1300px) {
    .cards_container {
        align-items: center;
        margin: 10px auto;
        padding: 10px;
    }
    img {
        width: 250px;
    }

    .card h1 {
        margin-bottom: 1rem;
    }

    .card p {
        font-size: 1rem;
        padding: 10px;
    }

    .card button {
        font-size: 1.3rem;
    }
  
  }

  @media (max-width: 500px) {


    .logo {
    padding: 10px;
    }
    .header_container {
    border-radius: 8px;
    }

    .menu_container {
        /* margin-left: 20px; */
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: center;
        align-items: baseline;
    }

    .menu_container > ul > li {
        float: left;
        display: inline;
        padding: 0 7px;
    }
    .header_container > .wrapper > .description > h1 {
        color: #f1f1f1;
        font-size: 3rem;
        margin-top: 25px;
    }

    .showcase_section > h1 {
        font-size: 32px;
    }


}